@import url("https://fonts.googleapis.com/css2?family=Lato&family=Yanone+Kaffeesatz&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  background-color: #d3e3ea;
  color: #1e5c6d;
  font-family: "Lato";
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.6;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr {
  width: 90%;
  margin: auto;
}
.text p {
  width: 60%;
  margin: 20px auto;
}
.name-text {
  font-size: 55px;
}
.line {
  height: 2px;
  width: 85%;
  background-color: #0b404e;
}

.main-img {
  text-align: center;
  background-color: #f5f5f5;
  height: 100vh;
}
.header-text {
  text-align: center;
  color: #1e5c6d;
  padding: 15px;
  margin: 20px 0;
}
.header-text h2 {
  font-size: 2.3em;
  font-weight: lighter;
}
.flex {
  display: flex;
}
.header {
  flex: 65%;
}
.main-nav {
  flex: 35%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-nav h1 {
  font-family: "Yanone Kaffeesatz";
}
.nav {
  display: flex;
}
.nav a {
  padding: 5px;
  margin: 0px 3px 20px 3px;
  color: #1e5c6d;
  font-size: 16px;
  text-transform: uppercase;
}
.nav a:hover {
  background-color: #0b404e;
  color: #fff;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.fas,
.fab {
  font-size: 1.8em;
  padding: 15px;
  margin: 5px 5px;
  color: #1e5c6d;
}
.about-icons {
  font-size: 2.5em;
}
.about-icon p {
  font-weight: bold;
  font-size: 1.3em;
}
.about-icon {
  display: flex;
}
.about-icon .tech-skill {
  width: 50%;
}
.about-icon .team-skill {
  width: 50%;
}
/* Media queries */

@media only screen and (max-width: 500px) {
  .flex {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }
  .about-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }
  .icons {
    display: flex;
    flex-direction: column;
  }
  .header-text {
    padding: 45px 0;
  }
  .line {
    width: 50%;
  }
}