@import url("https://fonts.googleapis.com/css2?family=Lato&family=Yanone+Kaffeesatz&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  background-color: #d3e3ea;
  color: #1e5c6d;
  font-family: "Lato";
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.6;
}
a {
  text-decoration: none;
}
.name-text {
  font-size: 55px;
}
.line {
  height: 2px;
  width: 85%;
  background-color: #0b404e;
}

.main-img {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/1477835/pexels-photo-1477835.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}
.header-text {
  text-align: center;
  color: white;
  padding: 15px;
  margin: 20px 0;
}
.header-text h2 {
  font-size: 2.3em;
  font-weight: lighter;
}
.flex {
  display: flex;
}
.header {
  flex: 65%;
}
.main-nav {
  flex: 35%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-nav h1 {
  font-family: "Yanone Kaffeesatz";
}
.nav {
  display: flex;
}
.nav a {
  padding: 5px;
  margin: 0px 3px 20px 3px;
  color: #1e5c6d;
  font-size: 16px;
  text-transform: uppercase;
}
.nav a:hover {
  background-color: #0b404e;
  color: #fff;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.fas,
.fab {
  font-size: 1.8em;
  padding: 15px;
  margin: 5px 5px;
  color: #1e5c6d;
}

/* Media queries */

@media only screen and (max-width: 500px) {
  * {
    margin:0;
    padding:0;
  }
  .flex {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }
  .icons {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .header-text {
    padding: 45px 0;
  }
  .line {
    width: 50%;
  }
}
